# Clerk Authentication Keys
PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
PUBLIC_CLERK_SIGN_IN_URL=/sign-in
PUBLIC_CLERK_SIGN_UP_URL=/sign-up

# Supabase Configuration
PUBLIC_SUPABASE_URL=
PUBLIC_SUPABASE_ANON_KEY=